* {
    margin: 0px;
    padding: 0px;
    font-family: "inter";
  }

  #menuSuperior {
    background-color: #303030;
    color: #FFFFFF;
  }


  #titulo-menusuperior {
    padding-left: 62px;
    padding-top: 206px;
    font-size: 60px;

  }

  #texto-menusuperior {
    margin-left: 62px;
    margin-top: 30px;
    padding-bottom: 149px;
  }

  #dados{
    grid-auto-flow: column;
    columns: auto;
  }

  .column {
    width: 33.333%;
    float: left;
    padding: 10px;
    padding-top: 96px;
    padding-left: 171px;
    padding-bottom: 66px;
    box-sizing: border-box;
    justify-content: space-evenly;
    background-color: #f9f9f9;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

main {
    width: 50%;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#textos{
    margin: auto 54px auto 77px;
    position: absolute;
    width: 735px;
    height: 161px;
    left: 77px;
    top: 1003px;
    font-size: 20px;
    line-height: 20px;
}

#fotosala{
    position: absolute;
    width: 510px;
    height: 605px;
    left: 876px;
    top: 781px;
}